.task{
    background-color: rgb(196, 127, 0);
    border-radius: 4px;
    min-height: 5rem;
    width: 100%;
    color: black;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5%;
    cursor: move;
}
.bottomwrapper{
    display: flex;
    justify-content: space-between;
}
.status{
    font-size: small;
    background-color: rgb(255, 252, 249);
}
.PLANNED{
    background-color: red;
}
.ONGOING{
    background-color: rgb(200, 214, 2);
}
.DONE{
    background-color: rgb(1, 245, 5);
}